/* global */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #222;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* header */
.info-bg {
  background: #122ab2;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0;
  gap: 10px;
}

.info li:nth-child(odd) {
  margin: 0 10px;
}

.info a {
  color: #fff;
}

.menu-bg {
  background: #2c70ff;
}

.menu {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.menu a {
  color: #fff;
}

.menu-nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 1.25rem;
}

.menu-nav a {
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}
.menu-logo h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

/* Sobre */

.introducao {
  padding: 60px 10px;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
}

.sobre {
  display: flex;
  padding: 40px 10px;
  justify-content: space-between;
  border-top: 2px solid #122ab2;
  border-bottom: 2px solid #122ab2;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}
.sobre-info h1 {
  margin-bottom: .5rem;
  font-size: 2.25rem;
}

.sobre-info p {
  line-height: 1.4;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: ;
}

.sobre-img{
 flex: 1 1 160px;
 margin: 0 10px;
}

/* Produto */
.produtos-bg {
  padding: 40px 10px;
}

.produtos-bg h1 {
  margin-bottom: .5rem;
  font-size: 2.25rem;
}

.produtos-container {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.produtos-item{
  flex: 1 1 175px;
}

.produtos-item h2 {
  background-color: #f7f7f7;
  padding: 60px 20px ;
  font-size: 3rem;
  color: #a4a4a4;
}

.purple{
  border-top: 8px solid rgb(92, 25, 147);
}

.pink{
  border-top: 8px solid  rgb(232, 55, 93);
}

.blue{
  border-top: 8px solid rgb(55, 205, 232);
}

/* Planos */

.preco-bg{
  background: #f7f7f7;
}

.preco{
  display: flex;
  justify-content: space-between;
  padding: 60px 10px;
  flex-wrap: wrap; 
  gap: 10px;
}

.preco-item{
 text-align: center;
 border: 4px solid white;
 padding: 20px;
 flex: 1 1 260px;
align-self: flex-end;
}

.preco-item h2{
  font-size: 3rem;
  color: #a4a4a4;
  border-bottom: 4px solid white;
  margin-bottom: 5px;
}

.preco-item span{
  font-size: 2rem;
  color: #222;
  font-weight: bold;
}

.preco-item ul{
  border-top: 4px solid white;
  margin: 5px auto;
  padding-top: 10px;
  color: #a4a4a4;
  font-style: italic;
  text-align: left;
  max-width: 300px;
}

.preco-item li{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
  }

.preco-item li:after{
content: "";
background: #2c70ff;
width: 6px;
height: 6px;
border-radius: 50%;
display: block;
}

.preco-item a{
  display: inline-block;
  text-transform: uppercase;
  color: #222;
  font-weight: bold;
  font-size: 2.25rem;
  margin: 20px auto;
  border:4px solid;
  padding: 5px 20px;
  max-width: 300px;
}

@media (max-width:800px){

.preco{
  padding: 10px;
}

.preco .preco-item:nth-child(3){
  order: -2;
}

.preco .preco-item:nth-child(2){
  order: -1;
}
}