/* global */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #222;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* header */
.info-bg {
  background: #122ab2;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0;
  gap: 10px;
}

.info li:nth-child(odd) {
  margin: 0 10px;
}

.info a {
  color: #fff;
}

.menu-bg {
  background: #2c70ff;
}

.menu {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.menu a {
  color: #fff;
}

.menu-nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 1.25rem;
}

.menu-nav a {
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}
.menu-logo h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

/* Sobre */

.introducao {
  padding: 60px 10px;
  margin-bottom: 1rem;
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
}

.sobre {
  display: flex;
  padding: 40px 10px;
  justify-content: space-between;
  border-top: 2px solid #122ab2;
  border-bottom: 2px solid #122ab2;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}
.sobre-info h1 {
  margin-bottom: .5rem;
  font-size: 2.25rem;
}

.sobre-info p {
  line-height: 1.4;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: ;
}

.sobre-img{
 flex: 1 1 160px;
 margin: 0 10px;
}


